# Core functionality - changes here should be rare!
/src/app.py                   @primezest
/src/backend/database.py      @primezest
/src/backend/routers/auth.py  @primezest

# The frontend will need refactored soon to be more object oriented.
/src/static/   @primezest
